body {
	font-family: 'Lato', sans-serif;
	color:#61a328;
	font-weight: 300;
	background-color:#ffffff
}

jumbotron{
	background-color: white;
}


#warp {
  width: 90%;
  max-width: 800px;
	background: #595959;
	margin: 30px auto;
	overflow: hidden;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul#gallery-container {
	position: relative;
	width: 100%;
	max-width: 800px;
	height: auto;
	padding: 52% 0 10px;
	margin: 0;
	text-align: center;
	display: block;
}
li.gallery-item {display: inline-block;width: 10%;cursor:pointer;*display:inline;}
img.gallery-preview{
	background: white;
    margin: 0;
    padding: 5% 5% 15%;
    *padding: 2px 2px 10px;
    position: relative;
    top: 0;
    width: 85%;
    height: auto;
    max-height: 45px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out .2s;
    -moz-transition: all 0.3s ease-out .2s;
    -o-transition: all 0.3s ease-out .2s;
    transition: all 0.3s ease-out .2s;
}
ul#gallery-container:hover li img.gallery-preview{opacity: 0.5;-webkit-filter:blur(2px) grayscale(0.5); }
ul#gallery-container:hover li:hover img.gallery-preview{opacity: 1;-webkit-filter:blur(0px) grayscale(0); }

input.gallery-selector:checked ~ label.gallery-label>img.gallery-preview,
ul#gallery-container:hover li:hover img.gallery-preview:hover{
z-index: 5;
box-shadow: 0 4px 5px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.75);
-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.75);
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);

-webkit-transform-origin: bottom center;
-moz-transform-origin: bottom center;
-o-transform-origin: bottom center;
transform-origin: bottom center;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
ul#gallery-container:hover li:hover img.gallery-preview:hover {z-index: 20;}
input.gallery-selector:checked ~ label.gallery-label>img.gallery-preview{background: #333}
input.gallery-selector:checked ~ label.gallery-label:before{
content: " ";
position: relative;
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 20px solid #333;
top: -30px;
}

img.gallery-fullsize {
position: absolute;
top: 0px;
left: 0px;
display: block;
width: 100%;
height: auto;
z-index: -1;
opacity: 0;
-webkit-transform: scale(0.25);
-moz-transform: scale(0.25);
-o-transform: scale(0.25);
transform: scale(0.25);
-webkit-transform-origin: bottom center;
-moz-transform-origin: bottom center;
-o-transform-origin: bottom center;
transform-origin: bottom center;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
ul#gallery-container:hover li.gallery-item:active img.gallery-fullsize{
z-index: 50;
opacity: 0.75;
-webkit-filter:blur(10px) grayscale(1);
border-radius: 10%;
-webkit-border-radius: 10%;
-moz-border-radius: 10%;
-webkit-transform-origin: bottom center;
-moz-transform-origin: bottom center;
-o-transform-origin: bottom center;
transform-origin: bottom center;
-webkit-transition: all 0.3s ease-out .2s;
-moz-transition: all 0.3s ease-out .2s;
-o-transition: all 0.3s ease-out .2s;
transition: all 0.3s ease-out .2s;
}
ul#gallery-container:hover li:hover input.gallery-selector:checked ~ img.gallery-fullsize{z-index: 10;opacity: 1;border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;}

input.gallery-selector:checked ~ img.gallery-fullsize {
display: block;
opacity: 1;
z-index: 10;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);

-webkit-transform-origin: top center;
-moz-transform-origin: top center;
-o-transform-origin: top center;
transform-origin: top center;
-webkit-transition: all .2s ease-in .3s;
-moz-transition: all .2s ease-in .3s;
-o-transition: all .2s ease-in .3s;
transition: all .2s ease-in .3s;
}
input.gallery-selector {display: none;}
label.gallery-label {cursor: pointer;}


.text-muted {
	color:#3e6f7e;
}

.text-thin {
	font-family: 'Lato';
	font-weight: 100;
}

#profile-pic {
	border-radius: 15px 50px;
	margin: 8px;
	transition: width 2s;
	/* Safari 3.1 to 6.0 */
	-webkit-transition: border-radius .8s;
	
}
#profile-pic:hover{
	border-radius: 50px 15px;
	
}

#mainPic{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#WiP{
	background: rgba(0,0,0,.6);
	position: absolute;
	font-size: 200%;
}

div[class="col-md-6"] > img {
	filter: blur(2px);
	filter: saturate(0.4);
}
div[class="col-md-6"] > img:hover {
	filter: blur(0px);
	
}

#foll-sub{
	display: flex;
	width: 560px;
	height: 300px;
	background: linear-gradient(to right, skyblue, rgba( 93, 227, 218, 0.341 ), green);
	justify-content: space-around;
}
#foll-sub > span{
	z-index: -1;
	position: relative;
	width: 0px;
	height: 0px;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid rgba( 69, 170, 163, 0.68 );
	
}
/*a{
	color: crimson;
	
}
*/
